body{
    background-color: purple;
    color: white;
    font-family: "Comic Sans", sans-serif;
}

h1 {
    text-align: center;
    color: darkblue;
}

img {
    width: 300px;
    position: center;
}